{{define "block"}}
<div>
    <section>
    <ul>
        <li>{{.Data}}</li>
        <li>{{.Hash}}</li>
        {{if .PrevHash}}
            <li>{{.PrevHash}}</li>
        {{end}}
    </ul>
    </section>
</div>
<hr/>
{{end}}}